[Desktop Entry]
Version=1.1
Type=Application
Name=Twister OS Imager
Comment=Fork of Raspberry Pi imager
Icon=/home/pi/Pictures/Icons/AnyConv.com__title_logo.svg
Exec=rpi-imager
Categories=Utility;
Terminal=false
StartupNotify=true
