[Desktop Entry]
Version=1.1
Type=Application
Name=Twister OS Imager
Comment=Fork of Raspberry Pi imager
Icon=/usr/share/icons/twisteros-patcher.svg
Exec=rpi-imager
Categories=Utility;
Terminal=false
StartupNotify=true
